.widget-container {
    margin-right: 320px;
    padding: 20px;
    max-width: 550px;
    min-width: 300px;
  }
  
  #form {
    margin-top: 25px;
  }
  
  .options {
    padding: 20px;
    position: initial;
    bottom: 0;
    right: 0;
    width: 360px;
    top: 0;
    background-color: rgba(191, 191, 191, 0.15);
  }
  
  .caption {
    font-size: 18px;
    font-weight: 500;
  }
  
  .option {
    margin-top: 10px;
  }
  